<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <!--<add name="LibrarySystemConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=LibrarySystem;Integrated Security=True"
   providerName="System.Data.SqlClient" />-->
    <!--<add name="LibrarySystemConnectionString" connectionString="Data Source=.;Initial Catalog=LibrarySystem;Integrated Security=True" providerName="System.Data.SqlClient" />-->

    <!--<add name="OnlineShopConnectionString" connectionString="Data Source=.;Initial Catalog=comp_data;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="LibrarySystemConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\LibrarySystem.MDF;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>-->




    <add name="LibrarySystemConnectionString"
       connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\LibrarySystem.mdf;User Instance=true"
       providerName="System.Data.SqlClient" />
    
    
  </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>




